@charset "UTF-8";

@font-face{ 
	font-family: 'Biotif';
	src: url('/assets/stylesheets/webfonts/Biotif-Black.ttf') format("woff2")
	 url('/assets/stylesheets/webfonts/Biotif-Medium.ttf') format("woff2")
	 url('/assets/stylesheets/webfonts/Biotif-Light.ttf') format("woff2")
	 url('/assets/stylesheets/webfonts/Biotif-MediumItalic.ttf') format("woff2")
	 url('/assets/stylesheets/webfonts/Biotif-SemiBold.ttf') format("woff2");
}

@import "normalize.css";
@import "all.min.css";



@mq-1500: ~"only screen and (max-width: 1500px)";
@mq-1200-up: ~"only screen and (min-width: 1200px)";
@mq-1200: ~"only screen and (max-width: 1200px)";
@mq-950-up: ~"only screen and (min-width: 950px)";
@mq-950: ~"only screen and (max-width: 950px)";
@mq-768: ~"only screen and (max-width: 768px)";
@mq-600: ~"only screen and (max-width: 600px)";




/* ====== FONT FAMILY========================== */
.grotesk {
    font-family: 'Space Grotesk', sans-serif;
}

.biotif {
     font-family: 'Biotif', sans-serif;
}

.fontawesome {
    font-family: "Font Awesome 5 Pro";
}


// ====================== FONTS =====================================

@font-xs: 0.75rem;
@font-sm: .875rem;
@font-base: 1rem;
@font-lg: 1.125rem;
@font-xl: 1.25rem;
@font-2xl: 1.5rem;
@font-3xl: 1.875rem;
@font-4xl: 2.25rem;
@font-5xl: 3rem;
@font-6xl: 4rem;

// ====================== COLORS =====================================

@main: #050a4d;
@main-ligther: #282d6c;

@second: #049a59;

@third:  #edbf02;

@grey: #7c80a7;


// ======================= PATHS =============================
@imagePath: "../../images/";


html,
html a {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 100%;
	height: 100%;
	color: #444;	
}

body {
	background-color: #FAFAFA;
}

h1,h2,h3,h4 {
    .biotif;
    font-weight: 700;
}

a {
     text-decoration: none;
    .biotif;
}

ul {
    list-style: none;
}

p {
    .grotesk;
    line-height: 1.5;
}

#site-container {
    position: relative;
    min-width: 360px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    padding: 0 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}


.flex {
    display: flex;
    &--col-tablet {
        @media @mq-768 {
            flex-direction: column;
            align-items: center;
        }
    }
    &--signup {
        justify-content: center;
        @media @mq-950 {
            flex-direction: column;
        }
    }
    &--center {
        justify-content: center;
    }
    &--between {
        justify-content: space-between;
    }
}

//==========  GRIDS ===========================
.grid-33 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media @mq-950 {
         grid-template-columns: 1fr; 
    }
}

.grid-25 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media @mq-1200 { 
         grid-template-columns: 1fr 1fr; 
    }
    @media @mq-768 { 
         grid-template-columns: 1fr; 
    }
}

.grid-50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media @mq-768 {
        grid-template-columns: 1fr;
    }
}

.grid-33-66 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    @media @mq-768 {
         grid-template-columns: 1fr;
    }
}

.grid-25-75 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.grid-60-40 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    @media @mq-768 {
         grid-template-columns: 1fr;
    }
}

.grid-66-33 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

[class*="--gap30"] {
    grid-gap: 30px;
    @media @mq-950 { grid-gap: 15px;}
}

[class*="--gap50"] {
    grid-gap: 50px;
    @media @mq-950 { 
        grid-gap: 25px;
    }
}

[class*="--gap80"] {
    grid-gap: 80px;
    @media @mq-1200 {
        grid-gap: 40px;
    }
}

[class*="--margin50"] {
    margin-bottom: 50px;
    @media @mq-768 { 
        grid-gap: 20px; 
        margin-bottom: 20px;
    }
}

// helper classes
.center-y {
    display: flex;
    align-items: center;
}

.center-x {
    display: flex;
    justify-content: center;
}

.center-x-y {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.inset-0 {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-lg {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.h {
    .grotesk;
    font-size: @font-xl;
    margin-bottom: 20px;
    color: @main;

    &--uppercase {
        text-transform: uppercase;
    }
    &--lg {
        font-size: @font-lg;
    }
    &--3xl {
        font-size: @font-2xl;
    }
    &--4xl {
        font-size: @font-4xl;
    }
    &--5xl {
        font-size: @font-5xl;
    }
    &--center {
        text-align: center;
    }
    &--white {
        color: white;
    }
    &--thick {
        font-weight: 500;
    }
}

.p {
    font-size: @font-base;
    &--black {
        color: black;
    }

    &--center { text-align: center; }
}


.btn {
     .biotif;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 100px;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;

    &--third {
        background-color: @third;
        color: black;
        padding: 15px 65px;
    }
    &--second {
        background-color: @second;
        color: white;
    }
    &--full-mobile {
        @media @mq-600 {
            display: block;
            width: 100%;
        }
    }
    &--shadow {
        .shadow-lg;
    }
}


.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    @media @mq-950 {
        display: none;
    }
    &__container {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px 25px;
        justify-content: space-between;
    }
    &__logo {
        width: 200px;
    }
    &__right {
        display: flex;
        align-items: center;
    }
}

.nav {
    &__item {
        display: inline-block;
        &:not(:last-of-type) {
            margin-right: 35px;
        }
    }
    &__link {
        .biotif;
        color: @main;
        font-weight: 700;
        letter-spacing: 2px;
    }
    &__cta {
        background-color: @third;
        color: @main;
        padding: 15px 25px;
        color: @main;
        border-radius: 50px;
        font-weight: 700;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    &--gradient {
        background-image: linear-gradient(to right, @main, @second);
        // clip-path: polygon(0% 100%, 0% 0%, 0% -8.3333333333333%, 1% -8.25%, 2% -7.9166666666667%, 3% -7.4166666666667%, 4% -6.6666666666667%, 5% -5.8333333333333%, 6% -4.6666666666667%, 7% -3.4166666666667%, 8% -2%, 9% -0.41666666666667%, 10% 1.3333333333333%, 11% 3.1666666666667%, 12% 5.0833333333333%, 13% 7.1666666666667%, 14% 9.3333333333333%, 15% 11.5%, 16% 13.75%, 17% 16%, 18% 18.333333333333%, 19% 20.583333333333%, 20% 22.75%, 21% 25%, 22% 27.083333333333%, 23% 29.083333333333%, 24% 31%, 25% 32.833333333333%, 26% 34.5%, 27% 36%, 28% 37.333333333333%, 29% 38.583333333333%, 30% 39.583333333333%, 31% 40.333333333333%, 32% 41%, 33% 41.416666666667%, 34% 41.666666666667%, 35% 41.666666666667%, 36% 41.416666666667%, 37% 41.083333333333%, 38% 40.416666666667%, 39% 39.666666666667%, 40% 38.666666666667%, 41% 37.5%, 42% 36.166666666667%, 43% 34.666666666667%, 44% 33%, 45% 31.25%, 46% 29.333333333333%, 47% 27.333333333333%, 48% 25.25%, 49% 23%, 50% 20.833333333333%, 51% 18.583333333333%, 52% 16.333333333333%, 53% 14%, 54% 11.75%, 55% 9.5833333333333%, 56% 7.4166666666667%, 57% 5.3333333333333%, 58% 3.4166666666667%, 59% 1.5%, 60% -0.25%, 61% -1.8333333333333%, 62% -3.25%, 63% -4.5833333333333%, 64% -5.6666666666667%, 65% -6.5833333333333%, 66% -7.3333333333333%, 67% -7.8333333333333%, 68% -8.1666666666667%, 69% -8.3333333333333%, 70% -8.25%, 71% -8%, 72% -7.5%, 73% -6.75%, 74% -5.9166666666667%, 75% -4.8333333333333%, 76% -3.5833333333333%, 77% -2.1666666666667%, 78% -0.58333333333334%, 79% 1.0833333333333%, 80% 2.9166666666667%, 81% 4.9166666666667%, 82% 6.9166666666667%, 83% 9.0833333333333%, 84% 11.25%, 85% 13.5%, 86% 15.75%, 87% 18.083333333333%, 88% 20.333333333333%, 89% 22.5%, 90% 24.75%, 91% 26.833333333333%, 92% 28.833333333333%, 93% 30.833333333333%, 94% 32.583333333333%, 95% 34.25%, 96% 35.833333333333%, 97% 37.166666666667%, 98% 38.416666666667%, 99% 39.416666666667%, 100% 100%);
      
        // clip-path: polygon(0% 100%, 0% 0% , 0% 8.3333333333333%, 1% 8.3333333333333%, 2% 8.5%, 3% 8.6666666666667%, 4% 8.9166666666667%, 5% 9.1666666666667%, 6% 9.5833333333333%, 7% 10%, 8% 10.416666666667%, 9% 11%, 10% 11.583333333333%, 11% 12.166666666667%, 12% 12.833333333333%, 13% 13.5%, 14% 14.25%, 15% 14.916666666667%, 16% 15.666666666667%, 17% 16.416666666667%, 18% 17.25%, 19% 18%, 20% 18.666666666667%, 21% 19.416666666667%, 22% 20.166666666667%, 23% 20.833333333333%, 24% 21.416666666667%, 25% 22.083333333333%, 26% 22.583333333333%, 27% 23.083333333333%, 28% 23.583333333333%, 29% 24%, 30% 24.333333333333%, 31% 24.583333333333%, 32% 24.75%, 33% 24.916666666667%, 34% 25%, 35% 25%, 36% 24.916666666667%, 37% 24.833333333333%, 38% 24.583333333333%, 39% 24.333333333333%, 40% 24%, 41% 23.583333333333%, 42% 23.166666666667%, 43% 22.666666666667%, 44% 22.083333333333%, 45% 21.5%, 46% 20.916666666667%, 47% 20.25%, 48% 19.5%, 49% 18.75%, 50% 18.083333333333%, 51% 17.333333333333%, 52% 16.583333333333%, 53% 15.75%, 54% 15%, 55% 14.333333333333%, 56% 13.583333333333%, 57% 12.916666666667%, 58% 12.25%, 59% 11.583333333333%, 60% 11%, 61% 10.5%, 62% 10%, 63% 9.5833333333333%, 64% 9.25%, 65% 8.9166666666667%, 66% 8.6666666666667%, 67% 8.5%, 68% 8.4166666666667%, 69% 8.3333333333333%, 70% 8.3333333333333%, 71% 8.4166666666667%, 72% 8.5833333333333%, 73% 8.8333333333333%, 74% 9.1666666666667%, 75% 9.5%, 76% 9.9166666666667%, 77% 10.416666666667%, 78% 10.916666666667%, 79% 11.5%, 80% 12.083333333333%, 81% 12.75%, 82% 13.416666666667%, 83% 14.166666666667%, 84% 14.833333333333%, 85% 15.583333333333%, 86% 16.333333333333%, 87% 17.166666666667%, 88% 17.916666666667%, 89% 18.583333333333%, 90% 19.333333333333%, 91% 20.083333333333%, 92% 20.75%, 93% 21.416666666667%, 94% 22%, 95% 22.5%, 96% 23.083333333333%, 97% 23.5%, 98% 23.916666666667%, 99% 24.25%, 100% 100%);
        clip-path: polygon(0% 100%, 0% 0% , 0% 12.5%, 1% 12.5%, 2% 12.583333333333%, 3% 12.666666666667%, 4% 12.75%, 5% 12.916666666667%, 6% 13.083333333333%, 7% 13.333333333333%, 8% 13.583333333333%, 9% 13.833333333333%, 10% 14.083333333333%, 11% 14.416666666667%, 12% 14.75%, 13% 15.083333333333%, 14% 15.416666666667%, 15% 15.833333333333%, 16% 16.166666666667%, 17% 16.583333333333%, 18% 16.916666666667%, 19% 17.333333333333%, 20% 17.666666666667%, 21% 18.083333333333%, 22% 18.416666666667%, 23% 18.75%, 24% 19.083333333333%, 25% 19.333333333333%, 26% 19.666666666667%, 27% 19.916666666667%, 28% 20.083333333333%, 29% 20.333333333333%, 30% 20.5%, 31% 20.583333333333%, 32% 20.75%, 33% 20.75%, 34% 20.833333333333%, 35% 20.833333333333%, 36% 20.833333333333%, 37% 20.75%, 38% 20.666666666667%, 39% 20.5%, 40% 20.333333333333%, 41% 20.166666666667%, 42% 19.916666666667%, 43% 19.666666666667%, 44% 19.416666666667%, 45% 19.083333333333%, 46% 18.75%, 47% 18.416666666667%, 48% 18.083333333333%, 49% 17.75%, 50% 17.333333333333%, 51% 17%, 52% 16.583333333333%, 53% 16.25%, 54% 15.833333333333%, 55% 15.5%, 56% 15.166666666667%, 57% 14.75%, 58% 14.416666666667%, 59% 14.166666666667%, 60% 13.833333333333%, 61% 13.583333333333%, 62% 13.333333333333%, 63% 13.166666666667%, 64% 12.916666666667%, 65% 12.75%, 66% 12.666666666667%, 67% 12.583333333333%, 68% 12.5%, 69% 12.5%, 70% 12.5%, 71% 12.583333333333%, 72% 12.666666666667%, 73% 12.75%, 74% 12.916666666667%, 75% 13.083333333333%, 76% 13.25%, 77% 13.5%, 78% 13.75%, 79% 14.083333333333%, 80% 14.416666666667%, 81% 14.666666666667%, 82% 15.083333333333%, 83% 15.416666666667%, 84% 15.75%, 85% 16.166666666667%, 86% 16.5%, 87% 16.916666666667%, 88% 17.25%, 89% 17.666666666667%, 90% 18%, 91% 18.333333333333%, 92% 18.666666666667%, 93% 19%, 94% 19.333333333333%, 95% 19.583333333333%, 96% 19.833333333333%, 97% 20.083333333333%, 98% 20.25%, 99% 20.5%, 100% 100%);      
        padding-top: 200px;
        padding-bottom: 120px;
    }
}


.hero {
    &__container {
        padding: 120px 90px 90px; 
        background: linear-gradient(120deg, rgba(237, 190, 2, 0.272) 0%,  white 30%,  rgba(3, 156, 90, 0.589) 90%, rgba(237, 190, 2, 0.156));
        @media @mq-1200 {
            padding: 40px 25px;
        }
    }
    &__inner {
        max-width: 1150px;
        margin: 0 auto;
        padding: 50px 80px;
        background: rgba(255, 255, 255, 0.478);
        border-radius: 10px;
        box-shadow: 3px 3px 4px 4px  rgba(194, 194, 194, 0.2);
        @media @mq-1200 {
            padding: 40px 25px;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        @media @mq-950 {
            grid-template-columns: 1fr;
        }
    }
    &__title {
        .biotif;
        color: @main;
        @media @mq-600 {
            font-size: @font-3xl;
        }
    }
    &__img {
        margin: 0 auto;
        // max-width: 400px;
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__p {
        font-weight: 300;
        color: @main;
        margin-bottom: 20px;
        @media @mq-950 {
            margin-bottom: 0;
        }
    }
    &__btnpair {
        margin-top: auto;
        display: flex;
        @media @mq-950 {
            margin-top: 30px;
            flex-direction: column;
        }
    }
    &__btn {
        .grotesk;
        letter-spacing: 1px;
        padding: 15px 25px;
        border-radius: 30px;
        font-weight: bold;
        color: white;
        background: @second;
        // display: inline-block;
        // @media @mq-950 {
        //     display: block;
        // }
        &:first-of-type {
            margin-right: 25px;
            @media @mq-950 {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
}

.shifts-card  {
    &__container {
        .shadow-lg;
        padding: 35px 25px;
        border-radius: 10px;
    }
    &__title {
        color: @main;
        margin-bottom: 20px;
        &::before {
            .fontawesome;
            font-weight: bold;
            margin-right: 10px;
            color: @third;
            font-size: @font-4xl;
        }
        &--check { &::before { content: '\f058'; } }
        &--coins { &::before { content: '\f51e'; } }
        &--users { &::before { content: '\f500'; } }
    }
    &__description {
        color: @main;
        font-weight: 300;
        font-size: @font-base;
        line-height: 1.8;
    }
}

.trainway {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    &__railway {
        position: relative;
        background-color:  rgb(235, 233, 233);
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    &__btn {
        .biotif;
        font-weight: 500;
        padding: 15px 25px;
        color: @main;
        background-color: rgb(235, 233, 233);
        border: none;
        &--active {
            border-radius: 50px;
            color: @second;
            box-shadow: -1px 2px 2px 4px rgba(3, 156, 90, 0.322);
        }
    }
}


.roadmap {
    position: relative;
    &__svgcontainer {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__svgel {
        width: 100%;
        height: 100%;
    }
    &__context {
        position: relative;
    }
}

.roadmap-el {

    position: relative;

    @media @mq-600 {
        padding-right: 50px;
    }
    
    &__step {
        position: absolute;
        width: 5px;
        right: 50%;
        height: 100%;
        background: @second;
        @media @mq-950 {
            right: 10px;
        }
    }
    &__circle {
        .grotesk;
        font-size: @font-lg;
        position: absolute;
        right: 50%;
        top: 50%;
        width: 50px;
        height: 50px;
        background-color: @second;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(50%, -50%);
        @media @mq-950 {
            right: 5px;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-gap: 100px;
        @media @mq-950 {
            align-items: start;
        }
        &--switch {
            @media @mq-950 {
                display: flex;
                flex-direction: column;
                & .roadmap-el__right {
                    order: -1;
                }
            }
        }
        &--middle {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @media @mq-950 {
            grid-template-columns: 1fr;
            grid-gap: 30px;
        }
    }
    &__title {
        margin-bottom: 20px;
        font-size: @font-2xl;
        color: @main;
    }
    &__img {
        max-width: 300px;
        margin: 0 auto;

        @media @mq-950 {
            margin-left: 0;
            margin-bottom: 25px;
        }
        @media @mq-600 {
            max-width: 150px;
        }
    }
    &__description {
        font-weight: 300;
        color: @main;
        max-width: 400px;
        @media @mq-950 {
            max-width: 500px;
        }
    }
}

.home-signup {

    &__container {
        position: relative;
        background-color: white;
        padding: 35px 25px;
        .shadow;
        border-radius: 30px;
    }
    &__bgimg {
        position: absolute;
        width: 200px;
        z-index: 0;
        border-radius: 30px;
        @media @mq-600 {
            width: 100px;
        }
        &--left {
            bottom: 0px;
            left: 0;
        }
        &--right {
            right: 0;
        }
    }
    &__input {
        display: block;
        margin: 0 auto;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 15px;
        padding: 10px 5px;
        border: 1px solid rgb(195, 195, 195);
        .shadow;
        &::placeholder {
            text-align: center;
        }
    }
    &__radio-pair {
        display: flex;
        @media @mq-768 {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__content {
        max-width: 350px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        padding: 35px 0;
        text-align: center;
        @media @mq-600 {
            padding: 35px 15px;
        }
    }

}

.radio {
    &--mr {
        margin-right: 10px;
    }
    &__container {
        font-family: 'Raleway', sans-serif;
        display: inline-block;
        position: relative;
        padding-left: 20px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.4;
    }
    &__input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        &:checked ~ .radio__checkmark--second::after {
            opacity: 1;
            background-color: @second;
           
        }
    }
    &__checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: transparent;

        &--second {
            border: 1px solid @second;
        }
        &::after {
            content: "";
            position: absolute;
            transition: opacity 0.2s linear;
            opacity: 0;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
    }
}


.footer {
    background-color:#00021f;
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 35px 25px;
    }
    &__logo {
        margin: 0 auto 40px;
        max-width: 120px;
    }
    &__disclaimer {
        font-size: @font-sm;
        @media @mq-600 {
            text-align: center;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        font-size: @font-sm;
        @media @mq-600 {
            flex-direction: column;
            text-align: center;
        }
    }
    &__highlight {
        color: @second;
    }
}